<div class="wrw-comment-card"><img src="assets/img/user.png" class="wrw-profile-photo">
  <div class="wrw-comment-data">
    <h4 class="wrw-user-name">Ging Gonzalez</h4>
    <p class="wrw-inline wrw-post-info"><i class="glyphicon glyphicon-time"></i> time ago</p>
    <p class="wrw-inline wrw-post-info"><i class="glyphicon glyphicon-map-marker"></i> 0 miles </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  </div>
  <a href="#" class="wrw-delete-btn"><i class="fa fa-close"></i></a>
</div>
