<form class="input-group" id="wrw-add-comment" (ngSubmit)="addComment()" [formGroup]="commentForm">
  <div class="input-group-addon"><span><i class="glyphicon glyphicon-asterisk"></i></span></div>
  <input formControlName="comment" name="comment" class="form-control" type="text" placeholder="Write a comment...">
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit">Post </button>
  </div>
</form>
<div class="wrw-comment-card" *ngFor="let comment of comments"><img src="{{ comment.user_id.photo }}" class="wrw-profile-photo">
  <div class="wrw-comment-data">
    <h4 class="wrw-user-name">{{ comment.user_id.name }}</h4>
    <p class="wrw-inline wrw-post-info"><i class="glyphicon glyphicon-time"></i> time ago</p>
    <p class="wrw-inline wrw-post-info"><i class="glyphicon glyphicon-map-marker"></i> 0 miles </p>
    <p>{{ comment.comment }}</p>
  </div>
  <a href="#" class="wrw-delete-btn"><i class="fa fa-close"></i></a>
</div>
