<nav>
  <a routerLink="/login" routerLinkActive="active">login</a>
  <a routerLink="/signup" routerLinkActive="active">sign up</a>
</nav>

<form (submit)="loginUser()">
  <fieldset class="form-group">
    <input type="text" class="form-control" placeholder="First name" name="first_name"
    [(ngModel)]="userLogin.first_name">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" placeholder="Last name" name="last_name"
    [(ngModel)]="userLogin.last_name">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" placeholder="Email" name="email"
    [(ngModel)]="userLogin.email"/>
  </fieldset>
  <fieldset>
    <input class="btn form-control" type="submit" value="Login"/>
  </fieldset>
</form>
