<div class="wrw-feed-card"><img src="{{ feedCard.user_id.photo }}" data-aos="slide-right" class="wrw-profile-photo">
  <div class="wrw-info" data-aos="slide-left">
    <h4 class="wrw-inline"> {{ feedCard.user_id.name }} </h4>
    <p class="wrw-inline">needs a</p>
    <h1> {{ feedCard.item_name}} </h1>
    <p class="wrw-inline"><i class="glyphicon glyphicon-time"></i> {{ feedCard.time_ago }} </p>
    <p class="wrw-inline" (mouseenter)=setIdToShowMapOf(feedCard._id) (click)="setIdToShowMapOf(null)"><i class="glyphicon glyphicon-map-marker"></i>
      0 miles
      <app-google-map style="position: absolute;" *ngIf="getIdToShowMapOf() == feedCard._id" [address]=feedCard.user_id.address></app-google-map>
    </p>
  </div><a href="#" class="wrw-close-btn"><i class="fa fa-close wrw-close-icon"></i></a>
  <div class="btn-group wrw-feed-button-grp row" role="group">
    <button class="btn btn-default wrw-comment-btn col-xs-6" type="button"> <i class="glyphicon glyphicon-comment"></i> Comment</button>
    <button class="btn btn-default wrw-message-btn col-xs-6" type="button"> <i class="icon ion-ios-chatboxes"></i> Message</button>
  </div>
</div>
