/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 0px) {
  /* feed-card-component made in boostrap studio*/
  .wrw-profile-photo {
    width:100px;
    height:100px;
    border-radius:50%;
    padding:5px;
  }

  .wrw-info > * {
    margin:0;
    padding:0;
  }

  .wrw-info {
    display:inline-block;
    vertical-align:middle;
  }

  .btn-group.wrw-feed-button-grp {
    display:block;
    margin:0px;
  }

  .wrw-inline {
    display:inline;
  }

  .wrw-close-btn {
    float:right;
    margin:5px;
    width:10px;
    height:10px;
  }

  .wrw-feed-card {
    margin:10px;
    background-color:rgb(217,226,235);
    padding:0px;
  }

  .wrw-close-icon {
    width:10px;
    height:10px;
    float:right;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .wrw-feed-card {
    width: 80%;
    margin: 10px auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.wrw-feed-card {
    width: 60%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .wrw-feed-card {
    width: 40%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}