#wrw-profile-image {
  position:absolute;
  width:100px;
  height:100px;
  bottom:-50px;
  left:calc(50% - 50px);
}

#wrw-profile-banner {
  height:200px;
}

.wrw-abs-div {
  position:absolute;
  width:100%;
  height:inherit;
}

#wrw-profile-tabs {
  height:50px;
  text-align:center;
}

.wrw-profile-tab-links {
  display:inline-block;
  width:100px;
  font-size:20px;
  color:rgb(0,0,0);
  padding:10px;
}

.wrw-profile-tab-links:hover {
  text-decoration:none;
}

.wrw-profile-tab-links:hover {
  display:inline-block;
  width:100px;
  font-size:20px;
  padding:10px;
}
