<app-create-post-form (createPostEvent)="createBorrowPost($event)"></app-create-post-form>
<div *ngFor="let post of borrowPosts" class="wrw-feed-cards" name="borrowPosts">
    <app-feed-card [feedCard]="post" (showCommentsEvent)="showComments($event)"></app-feed-card>
    <div *ngIf="post == showCommentsOf" id="wrw-comment-section">
        <app-post-comment-card
            [comments]="comments"
            [postId]="post._id"
            (addCommentEvent)="addComment($event)">
        </app-post-comment-card>
    </div>
</div>