.wrw-abs-div {
  position:absolute;
  width:100%;
  height:inherit;
}

#wrw-profile-image {
  position:inherit;
  width:100px;
  height:100px;
  bottom:-50px;
  left:calc(50% - 50px);
}

#wrw-profile-lower-banner {
  height:50px;
}

#wrw-profile-upper-banner {
  height:200px;
  background-color:#4355b5;
}

#wrw-user-name {
  padding:0;
  margin:0;
  text-align:center;
}

#wrw-profile-settings {
  float:right;
  margin:5px;
  color:black;
}