<button name="post_borrow_request" (click)="postBorrowMode = !postBorrowMode" class="btn" type="button">
  <i class="glyphicon glyphicon-plus"></i>
</button>

<div class="form-group">
  <form *ngIf=postBorrowMode [formGroup]="createPostForm" (ngSubmit)="createBorrowPost()">
    <fieldset class="form-group">
      <input formControlName="item_name" name="item_name" class="form-control" type="text" placeholder="ex. Laptop, Coffee Maker, etc.">
    </fieldset>
    <fieldset class="form-group">
      <input formControlName="reason" class="form-control" type="text" name="reason" placeholder="Why?(Optional)">
    </fieldset>
    <button class="btn btn-info form-control" type="submit">Submit</button>
  </form>
</div>
