<img src="./assets/img/user.png" data-aos="slide-right" class="wrw-float-block wrw-feed-profile-photo">
<div data-aos="slide-left" class="wrw-float-block inline-items zero-margin-items spread-div-marginless-contents" style="display:inline-block;padding:10px;">
  <h4> {{ feedCard.user_id.name }} </h4>
  <p>needs a</p>
  <h1 class="inline-except" style="display: block"> {{ feedCard.item_name}} </h1>
  <p><i class="glyphicon glyphicon-time"></i> {{ feedCard.time_ago }} </p>
  <p (mouseenter)=setIdToShowMapOf(feedCard._id) (click)="setIdToShowMapOf(null)">
    <i class="glyphicon glyphicon-map-marker"></i> n miles
  </p>
</div>
<button class="btn btn-default col-xs-12" type="button" style="font-size:20px;"> <i class="icon ion-ios-chatboxes"></i></button>
<app-google-map *ngIf="getIdToShowMapOf() == feedCard._id" [address]=feedCard.user_id.address></app-google-map>
