.wrw-float-block {
  vertical-align:text-top;
  fload:left;
}

.wrw-feed-profile-photo {
  height:100px;
  width:100px;
  margin:10px;
}

.wrw-feed-profile-photo {
}

.inline-items > * {
  display:inline;
}

.inline-except {
  display:block;
}

.zero-margin-items > * {
  margin:0px;
}

.spread-div-marginless-contents > * {
  margin:2px;
}