<app-user-control></app-user-control>
<button type="button" class="btn" name="post_borrow_request"
(click)="postBorrowMode = !postBorrowMode">+</button>

<form *ngIf=postBorrowMode (submit)="createBorrowPost()">
  <fieldset class="form-group">
        <input type="text" class="form-control" placeholder="ex. Laptop, Coffee Maker, etc."
        name="item_name" [(ngModel)]="newUserPost.item_name">
  </fieldset>
  <fieldset class="form-group">
        <input type="text" class="form-control" placeholder="Why?(Optional)"
        name="reason" [(ngModel)]="newUserPost.reason">
  </fieldset>
  <fieldset class="form-group">
        <input type="submit" class="btn form-control">
  </fieldset>
</form>
