<div class="table-responsive">
  <table class="table">
    <tr *ngFor="let post of showAllBorrowPosts()" name="borrowPosts">
      <p>
        Item Name: {{ post.item_name}}
      </p>
      <p>
        User: {{ getUserByPostId(post.user_id).name }}
      </p>
      <p>
        Time_ago: {{ post.time_ago }}
      </p>
      <p (mouseenter)=toShowMap(post._id) (click)="idToShowMapOf = null">
        Location: n miles
      </p>
      <app-google-map *ngIf="idToShowMapOf == post._id" [address]=getUserByPostId(post.user_id).address></app-google-map>
    </tr>
  </table>
</div>
