<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.linkedin.com/in/ginggonzalez/"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/gggonzalez03/Werrow"><i class="icon ion-social-github"></i></a></div>
        <ul class="list-inline">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Werrow © 2017</p>
    </footer>
</div>
