<!--<div id="wrw-profile-banner" style="background-color:#4355b5;">
  <div class="wrw-abs-div"><img class="img-responsive" src="assets/img/user.png" id="wrw-profile-image"></div>
</div>
<div id="wrw-profile-tabs"><a href="/contact" class="wrw-profile-tab-links" style="text-align:right;">Contact </a>
  <a href="#" class="wrw-profile-tab-links"> </a><a href="/settings" class="wrw-profile-tab-links" style="text-align:left;">Settings </a>
</div>-->

<div id="wrw-profile-banner">
  <div id="wrw-profile-upper-banner">
    <div class="wrw-abs-div"><img class="img-responsive" src="{{ user.photo }}" id="wrw-profile-image"></div>
  </div>
  <div id="wrw-profile-lower-banner"><a routerLink="settings" routerLinkActive="active" id="wrw-profile-settings"><i class="icon ion-android-settings"></i></a></div>
  <div>
    <h3 id="wrw-user-name">{{ user.name }}</h3>
  </div>
</div>
